fastapi
uvicorn
pydantic
nest-asyncio
python-dotenv
httpx
python-multipart

qdrant-client[fastembed]
sentence-transformers
torch
transformers
tqdm

langchain-openai
langchain-community
langchain-text-splitters
langgraph

python-docx
tavily-python
langfuse
